*,
:after,
:before {
    box-sizing: border-box;
}

:root {
    font-size: calp(1rem + 0.5vw, 1.5rem);
    font-family: 'Space Mono', monospace;
    color: #fffffe;
}

html {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    background-color: #0f0e17;
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #fffffe;
    font-size: 1rem;
}

a:hover {
    color: #ff8906;
    cursor: pointer;
}

li {
    list-style: none;
    padding: 0.5rem;
}

header img {
    width: 2rem;
    height: 2rem;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(./images/web-page-background-images-hd.jpg);
    height: 100vh;
}

article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

article p {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
}

section i {
    font-size: 5rem;
    padding: 0 1rem;
}

section p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

footer div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media screen and (min-width: 768px) {
    main {
        flex-direction: row;
        gap: 1rem;
    }

    article {
        padding: 3rem;
    }

    section {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 2rem;
    }

    section i {
        padding: 1rem;
    }

    footer i {
        font-size: 2rem;
        padding: 0 1rem;
    }
}

@media screen and (min-width: 1024px) {
    main {
        flex-direction: row;
        gap: 1rem;
    }

    article {
        padding: 3rem;
    }

    section {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 2rem;
    }

    section i {
        padding: 1rem;
    }

    footer i {
        font-size: 2rem;
        padding: 0 1rem;
    }
}

@media screen and (min-width: 1440px) {
    main {
        height: 85vh;
        flex-direction: row;
        gap: 1rem;
    }

    article {
        padding: 3rem;
    }

    section {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 2rem;
    }

    section i {
        padding: 1rem;
    }

    footer i {
        font-size: 2rem;
        padding: 0 1rem;
    }
}