@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-size: calp(1rem + 0.5vw, 1.5rem);
    font-family: 'Space Mono', monospace;
    color: #fffffe;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    background-color: #0f0e17;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
    color: #fffffe;
    font-size: 1rem;
}

a:hover {
    color: #ff8906;
    cursor: pointer;
}

li {
    list-style: none;
    padding: 0.5rem;
}

header img {
    width: 2rem;
    height: 2rem;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(./images/web-page-background-images-hd.jpg);
    gap: 1rem;
    height: 100vh;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.photography {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.photography img {
    border-radius: 0.625rem;
    height: 10rem;
    width: 15rem;
    padding: 0.625rem;
}

.photography h2 {
    color: #fffffe;
    font-size: 1rem;
    padding: 0.625rem;
}

.photography:hover {
    cursor: pointer;
    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  

