@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
    margin: 0 auto;
    max-width: 100vw;
}

#home {
    background-color: #0f0e17;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 1rem;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #fffffe;
    font-size: 1.5rem;
    font-family: 'Space Mono', monospace;
    padding: 1rem;
}

a:hover {
    color: #ff8906;
    cursor: pointer;
}

li {
    list-style: none;
}

h1:hover {
    color: #ff8906;
    cursor: pointer;
}
.one {
    background-image: url(./images/web-page-background-images-hd.jpg);
    background-size: cover;
    background-position: center;
    min-height: 75vh;
}

.three {
    background-image: url(./images/web-page-background-images-hd.jpg);
    background-size: cover;
    background-position: center;
    min-height: 75vh;
    min-width: max-content;
}

.two {
    background-image: url(./images/IMG_8575.JPG);
    background-size: cover;
    background-position: center;
    min-height: 75vh;
}

.one h1 {
    font-family: 'Space Mono', monospace;
    font-size: 4rem;
    color: #fffffe;
}

p {
    font-family: 'Space Mono', monospace;
    font-size: 1.5rem;
    color: #fffffe;
}

.one h2 {
    font-family: 'Space Mono', monospace;
    font-size: 2rem;
    color: #fffffe;
}

footer {
    background-color: #0f0e17;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem;
    color: #fffffe;
}

#aboutme {
    background-color: #0f0e17;
}


.info {
    text-align: center;
    box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(00.625rem);
    padding: 0.625rem;
}

.info img {
    border-radius: 100%;
    border: 0.188rem solid #ff8906;
    height: 10rem;
    width: 10rem;
}

.info h2 {
    color: #fffffe;
}

.info p {
    color: #fffffe;
}

.info i {
    color: #fffffe;
    font-size: 1.875rem;
    padding: 0.625rem;
}

.info i:hover {
    color: #ff8906;
    cursor: pointer;
}

.icon {
    color: #fffffe;
    font-size: 6.25rem;
    padding: 0.625rem;
    text-align: center;
}

.icon:hover {
    color: #ff8906;
    cursor: pointer;
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media screen and (max-width: 768px) {

    .one h1 {
        font-size: 5rem;
    }

    .one p {
        font-size: 1rem;
    }

    .one h2 {
        font-size: 2rem;
    }

    .info {
        padding: 0.625rem;
    }

    .info img {
        height: 5rem;
        width: 5rem;
    }

    .info h2 {
        font-size: 1rem;
    }

    .info p {
        font-size: 0.75rem;
    }

    .info i {
        font-size: 1rem;
    }

    .icon {
        font-size: 3rem;
    }

    footer div p {
        font-size: 1rem;
    }

    footer div a {
        font-size: 1rem;
    }

    header a {
        font-size: 1rem;
    }

    .two {
        background-image: url(./images/IMG_8575.JPG);
        background-size: cover;
        background-position: center;
        min-height: 100vh;  
    }

    .one {
        background-image: url(./images/web-page-background-images-hd.jpg);
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    }
    
    .three {
        background-image: url(./images/web-page-background-images-hd.jpg);
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    }
}

@media screen and (max-width: 480px) {

    .one h1 {
        font-size: 3rem;
    }

    .one p {
        font-size: 0.75rem;
    }

    .one h2 {
        font-size: 1.5rem;
    }

    .info {
        padding: 0.625rem;
    }

    .info img {
        height: 3rem;
        width: 3rem;
    }

    .info h2 {
        font-size: 0.75rem;
    }

    .info p {
        font-size: 0.5rem;
    }

    .info i {
        font-size: 0.75rem;
    }

    .icon {
        font-size: 2rem;
    }

    footer div p {
        font-size: 0.75rem;
    }

    footer div a {
        font-size: 0.75rem;
    }

    header a {
        font-size: 0.75rem;
    }

    .two {
        background-image: url(./images/IMG_8575.JPG);
        background-size: cover;
        background-position: center;
        min-height: 100vh;  
    }

    .one {
        background-image: url(./images/web-page-background-images-hd.jpg);
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    }
    
    .three {
        background-image: url(./images/web-page-background-images-hd.jpg);
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    }
}
